<%- include('../partials/header') %>

<form action="/skills" method="POST">
  <input type="text" placeholder="Skill" name="skill">
  <input type="number" max="5" placeholder="Proficiency / 5" name="proficiency">
  <button type="submit">Save Skill</button>
</form>

<%- include('../partials/footer') %>